* {
  padding: 0;
  margin: 0; }

.row {
  margin: 0; }

.container-fluid {
  padding: 0;
  margin: 0; }

a {
  color: white; }
  a:hover {
    color: white; }
  a:active {
    color: white; }
  a:visited {
    color: white; }

div.home-nav-section {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: lightgreen;
  opacity: 0.8;
  z-index: 1; }

.nav-row {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px 5px 10px;
  margin: 0;
  background-color: green; }
  .nav-row .nav-title {
    margin: 0;
    color: white;
    opacity: 0.7; }
    .nav-row .nav-title .logo {
      height: 50px;
      width: 60px;
      padding-bottom: 10px;
      display: inline-block; }
    .nav-row .nav-title h1 {
      display: inline-block;
      padding: 5px;
      margin: 0; }
    .nav-row .nav-title:hover {
      opacity: 1; }
  .nav-row .menu-container {
    text-align: right;
    color: white; }
    .nav-row .menu-container ul.menu {
      display: inline-block;
      margin: 0;
      list-style: none; }
      .nav-row .menu-container ul.menu li.menu-item {
        position: relative;
        float: left;
        padding: 5px;
        margin: 5px;
        font-size: 1.4em;
        opacity: 0.7; }
        .nav-row .menu-container ul.menu li.menu-item a:active {
          color: white;
          opacity: 1; }
        .nav-row .menu-container ul.menu li.menu-item a:visited {
          color: white;
          opacity: 1; }
        .nav-row .menu-container ul.menu li.menu-item:hover {
          -webkit-transform: translatey(-1px);
          -ms-transform: translatey(-1px);
          transform: translatey(-1px);
          opacity: 1; }
          .nav-row .menu-container ul.menu li.menu-item:hover ul.list li.list-item {
            display: block; }
            .nav-row .menu-container ul.menu li.menu-item:hover ul.list li.list-item:nth-child(1) {
              -webkit-animation-name: animateMenu;
              animation-name: animateMenu;
              -webkit-animation-duration: 300ms;
              animation-duration: 300ms;
              -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out; }
            .nav-row .menu-container ul.menu li.menu-item:hover ul.list li.list-item:nth-child(2) {
              -webkit-animation-name: animateMenu;
              animation-name: animateMenu;
              -webkit-animation-duration: 600ms;
              animation-duration: 600ms;
              -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out; }
            .nav-row .menu-container ul.menu li.menu-item:hover ul.list li.list-item:nth-child(3) {
              -webkit-animation-name: animateMenu;
              animation-name: animateMenu;
              -webkit-animation-duration: 900ms;
              animation-duration: 900ms;
              -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out; }
            .nav-row .menu-container ul.menu li.menu-item:hover ul.list li.list-item:nth-child(4) {
              -webkit-animation-name: animateMenu;
              animation-name: animateMenu;
              -webkit-animation-duration: 1200ms;
              animation-duration: 1200ms;
              -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out; }
            .nav-row .menu-container ul.menu li.menu-item:hover ul.list li.list-item:nth-child(5) {
              -webkit-animation-name: animateMenu;
              animation-name: animateMenu;
              -webkit-animation-duration: 1500ms;
              animation-duration: 1500ms;
              -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out; }
            .nav-row .menu-container ul.menu li.menu-item:hover ul.list li.list-item:nth-child(6) {
              -webkit-animation-name: animateMenu;
              animation-name: animateMenu;
              -webkit-animation-duration: 1800ms;
              animation-duration: 1800ms;
              -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out; }
        .nav-row .menu-container ul.menu li.menu-item ul.list {
          position: absolute;
          width: 100%;
          background-color: none;
          list-style: none; }
          .nav-row .menu-container ul.menu li.menu-item ul.list li.list-item {
            color: white;
            padding: 10px;
            display: none;
            text-align: center;
            background-color: green;
            font-size: 0.8em; }
            .nav-row .menu-container ul.menu li.menu-item ul.list li.list-item:first-child {
              padding-top: 1.2em; }
            .nav-row .menu-container ul.menu li.menu-item ul.list li.list-item:last-child {
              border-radius: 0 0 5px 5px; }
            .nav-row .menu-container ul.menu li.menu-item ul.list li.list-item:hover {
              opacity: 0.95;
              -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
              border-radius: 5px; }

@-webkit-keyframes animateMenu {
  0% {
    -webkit-transform: scale(0.5) translateY(30px);
    transform: scale(0.5) translateY(30px);
    opacity: 0.1; }
  70% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1; } }

@keyframes animateMenu {
  0% {
    -webkit-transform: scale(0.5) translateY(30px);
    transform: scale(0.5) translateY(30px);
    opacity: 0.1; }
  70% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1; } }

.welcome-message {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  background-color: pink; }
  .welcome-message .part1 {
    position: relative;
    top: 5%;
    bottom: 5%;
    height: 90%;
    position: relative;
    border: 2px solid black;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .welcome-message .part2 {
    position: relative;
    height: 100%; }

.nba-heading {
  background-color: green;
  color: white;
  text-align: center;
  font-size: 2.5em; }

.nba-section {
  margin: 0; }
  .nba-section div.nba {
    height: 150px;
    text-align: center;
    background-color: white;
    color: green;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .nba-section div.nba div {
      width: auto; }
    .nba-section div.nba p {
      font-size: 15px; }
    .nba-section div.nba:hover {
      background-color: green;
      color: white; }
      .nba-section div.nba:hover h1, .nba-section div.nba:hover p {
        -webkit-transition: all 15ms linear;
        -o-transition: all 15ms linear;
        transition: all 15ms linear;
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4); }

div.syllabus-heading {
  margin: 0;
  background-color: green;
  color: white;
  text-align: center; }

div.syllabus {
  padding: 20px 0 50px 0;
  position: relative;
  background-color: green; }
  div.syllabus .data-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    div.syllabus .data-container .data {
      display: inline-block;
      margin: 5px;
      padding: 10px 20px 10px 20px;
      border-radius: 100%;
      background-color: white;
      color: rbg(40, 101, 183);
      opacity: 0.8; }
      div.syllabus .data-container .data abbr {
        text-decoration: none;
        border: 0;
        cursor: pointer; }
      div.syllabus .data-container .data:hover {
        -webkit-transition: all 15ms linear;
        -o-transition: all 15ms linear;
        transition: all 15ms linear;
        -webkit-transform: translateY(5px) scale(1.1);
        -ms-transform: translateY(5px) scale(1.1);
        transform: translateY(5px) scale(1.1);
        opacity: 1; }
    div.syllabus .data-container .option {
      display: none; }
      div.syllabus .data-container .option .data {
        padding: 20px 10px 20px 10px; }

.map-container {
  height: 100%; }
  .map-container div.map {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%; }
    .map-container div.map .map-sec1 {
      padding: 0;
      height: 100%;
      background-color: white; }
      .map-container div.map .map-sec1 div.content {
        height: 100%;
        color: green;
        text-align: center; }
        @media (max-width: 991px) {
          .map-container div.map .map-sec1 div.content img {
            display: none; } }
    .map-container div.map .map-sec2 {
      height: 100%;
      padding: 0;
      border: 1px solid #ccc;
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
      background-color: pink; }
      .map-container div.map .map-sec2 #map {
        margin: 3%;
        height: 90%;
        width: 90;
        background-color: yellow; }

footer {
  padding: 21px;
  background-color: green;
  color: white; }
  footer .part1 .heading, footer .part2 .heading {
    margin-bottom: 10px;
    font-size: 21px;
    opacity: 0.9; }
    footer .part1 .heading:hover, footer .part2 .heading:hover {
      opacity: 1; }
  footer .part1 .info, footer .part2 .info {
    margin: 10px 0 10px 0; }
    footer .part1 .info .address, footer .part1 .info .phone, footer .part1 .info .mail, footer .part2 .info .address, footer .part2 .info .phone, footer .part2 .info .mail {
      padding: 10px;
      margin-bottom: 5px;
      opacity: 0.8; }
    footer .part1 .info .address:hover, footer .part2 .info .address:hover {
      opacity: 1; }
    footer .part1 .info .mail:hover, footer .part2 .info .mail:hover {
      opacity: 1; }
    footer .part1 .info .phone:hover, footer .part2 .info .phone:hover {
      opacity: 1; }
  footer .part2 .heading:hover {
    opacity: 1; }
  footer .part2 .icons button {
    width: 100px; }
  footer .part2 .icons .twitter {
    margin: 5px; }
    footer .part2 .icons .twitter button {
      border-radius: 5px;
      text-align: center;
      background: #00aced;
      opacity: 0.8; }
      footer .part2 .icons .twitter button:hover {
        opacity: 1; }
      footer .part2 .icons .twitter button i {
        color: white;
        font-size: 25px; }
  footer .part2 .icons .facebook {
    margin: 5px; }
    footer .part2 .icons .facebook button {
      border-radius: 5px;
      text-align: center;
      background: #3b5998;
      opacity: 0.8; }
      footer .part2 .icons .facebook button:hover {
        opacity: 1; }
      footer .part2 .icons .facebook button i {
        color: white;
        font-size: 25px; }
  footer .part2 .icons .youtube {
    margin: 5px; }
    footer .part2 .icons .youtube button {
      text-align: center;
      background: #bb0000;
      opacity: 0.8; }
      footer .part2 .icons .youtube button:hover {
        opacity: 1; }
      footer .part2 .icons .youtube button i {
        color: white;
        font-size: 25px; }
  footer .part2 .icons .googleplus {
    margin: 5px; }
    footer .part2 .icons .googleplus button {
      text-align: center;
      background: #dd4b39;
      opacity: 0.8; }
      footer .part2 .icons .googleplus button:hover {
        opacity: 1; }
      footer .part2 .icons .googleplus button i {
        color: white;
        font-size: 25px; }

small.dept {
  color: white; }

.project-nav-container {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.project-year {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  width: 100%;
  margin: 0;
  z-index: -1; }
  .project-year .message-head {
    text-align: center;
    color: green; }

.table-row {
  margin: 0;
  padding: 10px 20px 5px 20px; }
  .table-row h1 {
    margin-top: 15px;
    text-align: center;
    color: green; }
  .table-row table tr:hover {
    -webkit-transition: all 1ms ease-in-out;
    -o-transition: all 1ms ease-in-out;
    transition: all 1ms ease-in-out;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01); }
    .table-row table tr:hover td {
      color: #333333;
      opacity: 1; }
    .table-row table tr:hover th {
      color: white; }
  .table-row table tr:nth-child(odd) {
    background-color: #eee; }
  .table-row table th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 19px; }
  .table-row table td {
    text-align: center;
    color: #666666;
    font-weight: 600;
    font-size: 15px; }
