.header-title {
  color: green; }

.main-nav {
  margin: 0; }

.background-div {
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 0; }

.navi {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: right;
  position: relative;
  margin: 0;
  width: 100%;
  top: 10px; }
  .navi ul.menu {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    text-align: right;
    height: 100%;
    margin: 0;
    display: inline-block;
    color: green; }
    .navi ul.menu > li {
      position: relative;
      padding: 10px;
      float: left;
      text-align: center;
      margin: 3px;
      list-style: none;
      height: 50px;
      font-size: 17px;
      background: #009a00;
      color: white;
      border-radius: 5px;
      z-index: 1; }
      .navi ul.menu > li:hover {
        border-radius: 5px 5px 0 0;
        font-size: 17px;
        border: 0;
        margin: 0;
        -webkit-box-shadow: 0;
        box-shadow: 0; }
        .navi ul.menu > li:hover div {
          display: block;
          background: #009a00;
          color: white;
          z-index: 1; }
          .navi ul.menu > li:hover div:nth-child(1) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
          .navi ul.menu > li:hover div:nth-child(2) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
          .navi ul.menu > li:hover div:nth-child(3) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 900ms;
            animation-duration: 900ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
          .navi ul.menu > li:hover div:nth-child(4) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 1200ms;
            animation-duration: 1200ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
          .navi ul.menu > li:hover div:nth-child(5) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 1500ms;
            animation-duration: 1500ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
          .navi ul.menu > li:hover div:nth-child(6) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 1800ms;
            animation-duration: 1800ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }

@-webkit-keyframes animateMenu {
  0% {
    -webkit-transform: scale(0.5) translateY(30px);
    transform: scale(0.5) translateY(30px);
    opacity: 0.1; }
  70% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1; } }

@keyframes animateMenu {
  0% {
    -webkit-transform: scale(0.5) translateY(30px);
    transform: scale(0.5) translateY(30px);
    opacity: 0.1; }
  70% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1; } }

ul.menu li div:last-child {
  border-radius: 0 0 5px 5px; }

ul.menu li div {
  padding: 10px;
  width: 100%;
  display: none;
  z-index: 1; }
  ul.menu li div:hover {
    opacity: 0.8; }

.home-img {
  padding: 0;
  margin-top: -70px;
  z-index: -120;
  -webkit-filter: blur(1px);
  filter: blur(1px); }
  .home-img img {
    width: 100%;
    height: 100vh; }
  .home-img img.col-xs-12 {
    width: 100%;
    height: 50vh; }

.nba-section div.nba {
  height: 150px;
  text-align: center;
  background-color: white;
  color: green;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nba-section div.nba div {
    width: auto; }
  .nba-section div.nba p {
    font-size: 15px; }
  .nba-section div.nba:hover {
    background-color: green;
    color: white; }
    .nba-section div.nba:hover h1, .nba-section div.nba:hover p {
      -webkit-transition: all 15ms linear;
      -o-transition: all 15ms linear;
      transition: all 15ms linear;
      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4); }

div.syllabus-heading {
  background-color: green;
  color: white;
  text-align: center; }

div.syllabus {
  padding: 20px 0 50px 0;
  position: relative;
  background-color: green; }
  div.syllabus div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    div.syllabus div:hover div {
      color: green;
      -webkit-transition: all 15ms linear;
      -o-transition: all 15ms linear;
      transition: all 15ms linear;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  div.syllabus div.data {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 100%;
    background-color: white;
    color: #28b765; }
    div.syllabus div.data .col-xs.12 {
      padding: 5px; }

.space {
  width: 100%;
  height: 100vh; }

.container-fluid {
  padding: 0; }

.home-car {
  height: 50vh;
  width: 100%;
  background: #28b765; }

.home-first-div {
  background: green; }
