.header-title {
  color: green; }

.main-nav {
  margin: 0; }

.background-div {
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 0; }

.navi {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: right;
  position: relative;
  margin: 0;
  width: 100%;
  top: 10px; }
  .navi ul.menu {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    text-align: right;
    height: 100%;
    margin: 0;
    display: inline-block;
    color: green; }
    .navi ul.menu > li {
      position: relative;
      padding: 10px;
      float: left;
      text-align: center;
      margin: 3px;
      list-style: none;
      height: 50px;
      font-size: 17px;
      background: #009a00;
      color: white;
      border-radius: 5px;
      z-index: 1; }
      .navi ul.menu > li:hover {
        border-radius: 5px 5px 0 0;
        font-size: 17px;
        border: 0;
        margin: 0;
        -webkit-box-shadow: 0;
        box-shadow: 0; }
        .navi ul.menu > li:hover div {
          display: block;
          background: #009a00;
          color: white;
          z-index: 1; }
          .navi ul.menu > li:hover div:nth-child(1) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
          .navi ul.menu > li:hover div:nth-child(2) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
          .navi ul.menu > li:hover div:nth-child(3) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 900ms;
            animation-duration: 900ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
          .navi ul.menu > li:hover div:nth-child(4) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 1200ms;
            animation-duration: 1200ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
          .navi ul.menu > li:hover div:nth-child(5) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 1500ms;
            animation-duration: 1500ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
          .navi ul.menu > li:hover div:nth-child(6) {
            -webkit-animation-name: animateMenu;
            animation-name: animateMenu;
            -webkit-animation-duration: 1800ms;
            animation-duration: 1800ms;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }

@-webkit-keyframes animateMenu {
  0% {
    -webkit-transform: scale(0.5) translateY(30px);
    transform: scale(0.5) translateY(30px);
    opacity: 0.1; }
  70% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1; } }

@keyframes animateMenu {
  0% {
    -webkit-transform: scale(0.5) translateY(30px);
    transform: scale(0.5) translateY(30px);
    opacity: 0.1; }
  70% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1; } }

ul.menu li div:last-child {
  border-radius: 0 0 5px 5px; }

ul.menu li div {
  padding: 10px;
  width: 100%;
  display: none;
  z-index: 1; }
  ul.menu li div:hover {
    opacity: 0.8; }

.img-responsive {
  width: 100%;
  height: 100vh;
  margin-top: -100px; }

.nba-section div.nba {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  top: auto;
  bottom: auto;
  background-color: white;
  color: green;
  text-align: center;
  height: 150px; }
  .nba-section div.nba p {
    font-size: 15px; }
  .nba-section div.nba:hover {
    background-color: green;
    color: white; }

.space {
  width: 100%;
  height: 100vh; }

.container-fluid {
  padding: 0; }

.home-car {
  height: 50vh;
  width: 100%;
  background: #28b765; }

.home-first-div {
  background: green; }
