$linkedin: #007bb6
$gmail: #dd4b39
.faculty
  padding: 20px
  .part1
    .snapshot
      text-align: center
      img
        border: 2px solid green
        display: inline-block
    .social-share
      display: flex
      align-items:
      padding: 10px 50px 10px 50px
      justify-content: space-around
      i
        font-size: 25px
        &:hover
          transform: scale(1.1) translateY(-2px)
      i.glyphicon-envelope
        background-color: $gmail
        color: white
        padding: 0 2px 0 2px
      i.fa-linkedin
        color: $linkedin



  .part2
    border-style: solid
    border-color: #ccc
    border-left: 1px
    .details
      color: green
