.vision
  @media (max-width: 991px)
    margin-top: 100px
    margin-bottom: 100px
  text-align: center
  .heading
    padding-top: 20px
    padding-bottom: 10px
    font-size: 5rem
    color: green
  .content
    padding: 20px
    font-size: 2rem
    &:hover
      transform: scale(1.01)


.invisiable-responsive
  @media (max-width: 991px)
    display: none

.table-row
  .heading
    font-size: 5rem
    small
      color: green
    @media (max-width: 991px)
      font-size: 5rem
  table
    tr
      @media (max-width: 991px)
        th
          font-size: 2rem
        td
          font-size: 2rem
