small.dept
  color: white


.project-nav-container
  height: 100vh
  display: flex
  flex-direction: column
.project-year
  flex-grow: 1
  position: relative
  width: 100%
  margin: 0
  z-index: -1
  .message-head
    text-align: center
    color: green

//------ table section
.table-row

  margin: 0
  padding: 10px 20px 5px 20px
  h1
    margin-top: 15px
    text-align: center
    color: green

  table
    tr
      &:hover
        transition: all 1ms ease-in-out
        transform: scale(1.01)
        td
          color: rgb(51,51,51)
          opacity: 1
        th
          color: white

      &:nth-child(odd)
        background-color: #eee

    th
      background-color: #4CAF50
      color: white
      text-align: center
      font-size: 19px
    td
      text-align: center
      color: #ccc - #ccc/2
      font-weight: 600
      font-size: 15px
